.box-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  align-items: center;
  position: relative;

  width: 300px;
  height: 400px;
  border-radius: var(--spacing-small);

  background-color: var(--card-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-base);
  width: 100%;

  color: var(--color-white);
}
.card-title {
  font-size: var(--font-size-large);
  font-weight: 700;
}

.card-identify {
  font-size: var(--font-size-medium);
}

.card-description {
  height: 240px;
  width: 290px;
  margin: var(--spacing-xtiny);
  background-color: var(--color-white);
  border-radius: var(--spacing-tiny);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.powers-header {
  display: flex;
  justify-content: center;
  gap: var(--spacing-mini);

  color: var(--color-white);

  font-size: var(--font-size-small);
  line-height: var(--spacing-mini);
  font-weight: 700;
  font-style: normal;
}

.power {
  border-radius: var(--spacing-ltiny);
  padding: var(--spacing-xxtiny) var(--spacing-tiny);
}

.power-grass {
  background-color: var(--color-grass);
}

.power-poison {
  background-color: var(--color-poison);
}

.power-fire {
  background-color: var(--color-fire);
}

.power-water {
  background-color: var(--color-water);
}

.power-bug {
  background-color: var(--color-bug);
}

.power-flying {
  background-color: var(--color-flying);
}

.power-electric {
  background-color: var(--color-electric);
}

.power-ghost {
  background-color: var(--color-ghost);
}

.power-type {
  background-color: var(--color-type);
}

.card-about {
  text-align: center;
  color: var(--card-color);

  font-size: var(--font-size-smedium);
  font-weight: 700;
  line-height: var(--font-line-small);
}
.card-characteristic {
  display: flex;
}

.card-characteristic-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  width: 160px;
  align-items: flex-end;
}
.characteristic-name {
  text-align: center;
  color: var(--color-type);

  font-size: var(--font-size-xxsmall);
}
.characteristic-icon-value {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-ltiny);
}
.characteristic-icon {
  margin-right: var(--spacing-ltiny);
}
.characteristic-value {
  font-size: var(--font-size-xsmall);
  color: var(--color-dark-gray);
}

.characteristic-line {
  height: 48px;
  width: 1px;
  background-color: var(--color-light-gray);
}

.card-text {
  font-size: var(--font-size-xsmall);
  color: var(--color-dark-gray);
  line-height: var(--font-line-small);
  text-align: justify;
  padding: 0 var(--spacing-xmini);
  margin-bottom: var(--spacing-xtiny);
}
.pokemon-icon {
  position: absolute;
  top: var(--spacing-xlarge);
  width: 150px;
}
