body {
  font-family: poppins;
}
:root {
  /* colors */
  --color-rock: #b69e31;
  --color-ghost: #70559b;
  --color-steel: #b7b9d0;
  --color-water: #6493eb;
  --color-grass: #74cb48;
  --color-psychic: #fb5584;
  --color-ice: #9ad6df;
  --color-dark: #75574c;
  --color-fairy: #e69eac;
  --color-normal: #aaa67f;
  --color-fighting: #c12239;
  --color-flying: #a891ec;
  --color-poison: #a43e9e;
  --color-ground: #dec16b;
  --color-bug: #a7b723;
  --color-fire: #f57d31;
  --color-electric: #f9cf30;
  --color-dragon: #7037ff;
  --color-dark-gray: #212121;
  --color-type: #666666;
  --color-light-gray: #e0e0e0;
  --color-white: #ffffff;
  --color-background: #f7f7f7;

  /* spacing */
  --spacing-xxtiny: 2px;
  --spacing-xtiny: 4px;
  --spacing-tiny: 8px;
  --spacing-ltiny: 10px;
  --spacing-small: 12px;
  --spacing-mini: 16px;
  --spacing-xmini: 20px;
  --spacing-base: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;
  --spacing-xlarge: 56px;

  /* fonts */
  --font-size-xxsmall: 8px;
  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-smedium: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --font-line-small: 16px;
  --font-line-large: 32px;
}
.App {
  display: grid;
  grid-template-columns: auto auto auto;
}
